name: Run tests

on:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
      - "*.in"
      - "*.txt"

  pull_request:
    branches: [main]
    paths-ignore:
      - "*.md"
      - "*.in"
      - "*.txt"

jobs:
  test-plugin:
    env:
      plugin_name: "otio_template_plugin"

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
        otio-version: ["0.15.0", "main"]
        # We exclude this combination as it's not supported on all
        # platforms at the time of this commit
        exclude:
          - python-version: "3.11"
            otio-version: "0.15.0"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [[ "${{ matrix.otio-version }}" == "main" ]]; then
            pip install "git+https://github.com/AcademySoftwareFoundation/OpenTimelineIO.git"
          else
            pip install -V OpenTimelineIO==${{ matrix.otio-version }}
          fi
          pip install flake8 pytest pytest-cov
        shell: bash

      - name: Install Plugin
        run: |
          pip install -e .
        shell: bash

      - name: Lint with flake8
        run: |
          flake8 --show-source --statistics
        shell: bash

      - name: Test with pytest
        run: |
          pytest
        shell: bash
